<div class="container_navbar col-md-3">
  <div class="navbar">
      <div class="name">
          <div class="img">
              <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" alt="" class="img__user" id="img__user">
          </div>
          <div class="name__fullname">
              <p class="name__fullname--text" id="name__fullname--text">User</p>
          </div>
      </div>
      <div class="navbar__title">
          <p class="navbar__title--text">Chức năng hệ thống</p>
      </div>
      <div class="navbar__information">
          <ul class="navbar__information--list">
              <li class="information__list--items" href="/information" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  <span class="information__list--items__text" >
                      <a href="/information" id="information__list" onclick="Show()">Thông tin cá nhân</a>
                  </span>
                  <ul class="change__information"  id="change__information">
                      <li class="change__information--items" onclick="ShowchangInfor()">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                          </svg>
                          <span class="information__list--items__text" >
                              <a href="#" id="information__list--items__text">Thay đổi thông tin</a>
                          </span>
                      </li>
                      <li class="change__information--items" >
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                          </svg>
                          <span class="information__list--items__text">   
                              <a href="#" id="changePassword__list--items__text" onclick="ShowchangPassword()">Đổi mật khẩu</a>
                          </span>
                      </li>
                  </ul>
              </li>
              <li class="information__list--items" id="scheduling" onclick="ShowScheduling()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  <span class="information__list--items__text" >
                      <a href="#" id="chedulingText">Sắp xếp lịch giảng</a>
                  </span>
              </li>
              <li class="information__list--items" onclick="GetAllScheduleClass(1)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  <span class="information__list--items__text">
                      <a href="#" id="showSchedule_text">Xem lịch giảng</a>
                  </span>
              </li>
              <!-- Minh le -->
              <li class="information__list--items" onclick=" GetAllManagerClass(1)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  <span class="information__list--items__text">
                      <a href="#" id="manageClass_text">Quản lý lớp học</a>
                  </span>
              </li>
              <li class="information__list--items"  onclick="GetAllSearchSubjectForSchedule(1)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  <span class="information__list--items__text" >
                      <a href="#" id="Subject__text">Quản lý môn học</a>
                  </span>
              </li>
              <!-- Minh le -->
              <li class="information__list--items"  onclick="GetAllManagerClassRoom(1)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  <span class="information__list--items__text">
                      <a href="#" id="managerClassRoom__Text">Quản lý phòng học</a>
                  </span>
              </li>

              
              <li class="information__list--items" id="ManagerAccount" onclick="GetAllManagerAccountForSchedule(1)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  <span class="information__list--items__text">
                      <a href="#" id="managerAcount__Text">Quản lý tài khoản</a>
                  </span>
              </li>
              <li class="information__list--items">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                  </svg>
                  <span class="information__list--items__text navbar__header__logout"  onclick="DeleteLocalStorage()">
                      <a href="./index.html">Đăng xuất</a>
                  </span>
              </li>
          </ul>
      </div>
  </div>
</div>