<div class="container">
  <div class="information col-md-12" id="information">
    <div class="account row">
      <div class="account__acc col-md-12">
          <h1 class="account__acc--info">Đổi mật khẩu</h1>
      </div>
      <div class="account__infor col-md-12">
        <div class="account__infor--email row float-left">
            <h2 class="account__infor--email__text">Mật khẩu cũ</h2>
            <input class="ng-invalid ng-dirty" pInputText [(ngModel)]="passWordOld">
        </div>
        <div class="account__infor--email row float-left">
          <h2 class="account__infor--email__text">Mật khẩu mới</h2>
          <input class="ng-invalid ng-dirty" pInputText [(ngModel)]="passWordNew">
        </div>
        <div class="account__infor--email row float-left">
          <h2 class="account__infor--email__text">Nhập lại mật khẩu mới</h2>
          <input class="ng-invalid ng-dirty" pInputText [(ngModel)]="confirmPassWord">
        </div>
        <button  pButton  pRipple  label="Submit"  class="p-button-primary mt-3" (click)="Save()"> </button>
      </div>
    </div>
  </div>
</div>