<div class=" Schedule" id="Schedule">
  <div class="schedule__body row">
      <div class="col-md-9">
        <div class="schedule__title">
            <h1>Quản lý môn học</h1>
        </div>
      </div>
        <div class="col-md-12 m-3">
            <div class="schedule__search row">
                <div class="col-md-4">
                    <input  
                        pInputText  
                        class="ng-invalid ng-dirty" 
                        name="search" 
                        [(ngModel)]="searchText" 
                        (ngModelChange)="filter()" 
                        autocomplete="off" 
                        placeholder="&#61442;  Tìm kiếm môn học"
                    >
                </div>
                <div class="col-md-4">
                    <button 
                        class=""
                        pButton 
                        pRipple 
                        label="Thêm môn học" 
                        class="p-button-success"
                        (click)="ShowAdd()"
                        >
                    </button>
                    <p-dialog header="Thêm môn học" name="profile" [(visible)]="addClass" [style]="{ width: '25rem' }">
                        <div class="flex align-items-center gap-2 mb-3">
                            <label for="courseCode" class="font-semibold w-6rem">Mã môn học</label>
                            <input pInputText id="courseCode" class="flex-auto" [(ngModel)]="addCourseCode" autocomplete="off" />
                        </div>
                        <div class="flex align-items-center gap-2 mb-3">
                            <label for="name" class="font-semibold w-6rem">Tên môn học</label>
                            <input pInputText id="name" class="flex-auto" [(ngModel)]="addName" autocomplete="off" />
                        </div>
                        <div class="flex align-items-center gap-2 mb-3">
                            <label for="credits" lass="font-semibold w-6rem">Số tín chỉ</label>
                            <input type="number" pInputText id="credits" class="flex-auto" [(ngModel)]="addCredits" autocomplete="off" />
                        </div>
                        <div class="flex align-items-center gap-2 mb-3">
                            <label for="description" class="font-semibold w-6rem">Mô tả</label>
                            <input pInputText id="description" class="flex-auto" [(ngModel)]="addDescription" autocomplete="off" />
                        </div>
                        <div class="flex justify-content-end gap-2">
                            <p-confirmPopup />
                            <p-button 
                            class="m-2"
                            (click)="Cancel($event, addClass)" 
                            severity="danger" 
                            label="Cancel" 
                            [outlined]="true" />

                            <p-confirmPopup />
                            <p-button 
                            class="m-2"
                            (click)="Add($event, addClass)" 
                            severity="primary" 
                            label="Save" 
                            [outlined]="true" />
                        </div>
                    </p-dialog>
                </div>
                <div class="col-md-4">
                    <button 
                        class=""
                        pButton 
                        pRipple 
                        label="Xuất Excel" 
                        class="p-button-success"
                        (click)="ExportExcel()"
                        >
                    </button>
                </div>
            </div>
        </div>
      <div class="render_schedule">
        <p-table
        [value]="classes"
        [paginator]="true"
        [rows]="5"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Hiển thị {first} tới {last} của {totalRecords} môn học"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="NumericalOrder" style="width:10%">
                    STT
                    <p-sortIcon field="NumericalOrder" />
                </th>
                <th pSortableColumn="course_code"  style="width:15%">
                    Mã môn học
                    <p-sortIcon field="course_code" 
                />
                <th pSortableColumn="name"  style="width:15%">
                    Tên môn học
                    <p-sortIcon field="name" 
                />
                <th pSortableColumn="credits"  style="width:15%">
                    Số tín chỉ
                    <p-sortIcon field="credits" />
                </th>
                <th pSortableColumn="description"  style="width:15%">
                    Mô tả
                    <p-sortIcon field="description" />
                </th>
                <th   style="width:25%">
                    Thao tác
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer >
            <tr>
                <td>{{ customer.NumericalOrder }}</td>
                <td>{{ customer.course_code }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.credits }}</td>
                <td>{{ customer.description == "string" ? "" : customer.description }}</td>
                <td class="actions">
                    <div> 
                    <i 
                        (click)="ShowProfile(customer.id)" 
                        [style]="{ 'color': '#fca130' }"
                        ngxTippy="Sửa" 
                        [tippyProps]="{ placement: 'bottom'  }" 
                        class="pi pi-wrench m-2" 
                        style="font-size: 2rem; font-size: 140%; cursor: pointer;">
                    </i>
                    <p-dialog header="Cập nhật thông tin môn học" name="profile" *ngIf="dialogVisible[customer.id]"  [(visible)]="dialogVisible[customer.id]" [style]="{ width: '25rem' }">
                        <div class="flex align-items-center gap-2 mb-3">
                            <label for="course_code" class="font-semibold w-6rem">Mã môn học</label>
                            <input pInputText id="course_code" class="flex-auto" [(ngModel)]="courseCode" autocomplete="off" />
                        </div>
                        <div class="flex align-items-center gap-2 mb-3">
                            <label for="name" class="font-semibold w-6rem">Tên môn học</label>
                            <input pInputText id="name" class="flex-auto" [(ngModel)]="NameSubject" autocomplete="off" />
                        </div>
                        <div class="flex align-items-center gap-2 mb-3">
                            <label for="credits" class="font-semibold w-6rem">Số tín chỉ</label>
                            <input pInputText id="credits" class="flex-auto" [(ngModel)]="Credits" autocomplete="off" />
                        </div>
                        <div class="flex align-items-center gap-2 mb-3">
                            <label for="description" class="font-semibold w-6rem">Mô tả</label>
                            <input pInputText id="description" class="flex-auto" [(ngModel)]="description" autocomplete="off" />
                        </div>
                        <div class="flex justify-content-end gap-2">
                            <p-confirmPopup />
                            <p-button 
                            class="m-2"
                            (click)="Cancel($event, customer.id)" 
                            severity="danger" 
                            label="Cancel" 
                            [outlined]="true" />

                            <p-confirmPopup />
                            <p-button 
                            class="m-2"
                            (click)="Save($event, customer.id)" 
                            severity="primary" 
                            label="Save" 
                            [outlined]="true" />
                        </div>
                    </p-dialog>
                    </div>
                    <div>
                        <p-confirmPopup />
                        <i 
                            (click)="DeleteClass($event, customer.id)" 
                            ngxTippy="Xóa" 
                            [style]="{ 'color': 'red' }"
                            [tippyProps]="{ placement: 'bottom'  }" 
                            class="pi pi-trash m-2" 
                            style="font-size: 2rem; font-size: 140%; cursor: pointer;" 
                        >
                        </i>
                    </div>
                </td>
            </tr>
        </ng-template>
         
    </p-table>
      </div>
  </div>
</div>